{% extends 'base.html' %}

{% block content %}

<br>
<section class="container evaluate" style="min-height: 70vh !important">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <br><br>
    <br>


    {% for msg in form.error_messages %}
    <div class="alert alert-danger">
        {% comment %} {{ form.error_messages[msg] }} {% endcomment %}
    </div>
    {% endfor %}
    <div class="col-padding home-right" style="">
        <br>
        <div class="home-signin">
            <form action="login" method="POST">
                {% csrf_token %}
                <h1 class="text-left">Login</h1>
                <input class="form-control" type="text" name="username" placeholder="Username">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        </form>


</section>
<br>
{%endblock %}