
{% extends 'base.html' %} 
{% block content %}
{% load static %}

<!-- banner -->
<section class="banner_inner" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- services -->
<section class="services pt-5">
	<div class="container py-lg-5 py-sm-3">
		<h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Our Services</h2>
		<div class="row">
			<div class="col-lg-3 main-title-text">
				<h4 class="my-lg-4 mb-4">The journey of a thousand miles begins with a single step.</h4>
				<img src="{% static 'images/p1.jpg' %}" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-9 mt-lg-0 mt-5">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center mb-5">
						<div class="ser-fashion-grid">
							<div class="about-icon mb-md-4 mb-3">
								<span class="fa fa-building" aria-hidden="true"></span>
							</div>
							<div class="ser-sevice-grid">
							  <h4 class="pb-3">Domestic Tours</h4>
							  <p>Tour the 47 Counties, explore and understand different communities lifestyles. Visit meuseums, animal parks and historical sites. </p>
							</div>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center mb-5">
						<div class="ser-fashion-grid">
							<div class="about-icon mb-md-4 mb-3">
								<span class="fa fa-free-code-camp" aria-hidden="true"></span>
							</div>
							<div class="ser-sevice-grid">
								<h4 class="pb-3">Corporate team building and retreats</h4>
							  <p>Choose a peaceful and exciting locations for your company Team Building/retreat.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center mb-5">
						<div class="ser-fashion-grid">
							<div class="about-icon mb-md-4 mb-3">
								<span class="fa fa-users" aria-hidden="true"></span>
							</div>
							<div class="ser-sevice-grid">
								<h4 class="pb-3"> Travel consultation</h4>
							  <p>Let our able Team advice you on your travel packages and the best time to travel depending on the weather and activities.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center mb-5">
						<div class="ser-fashion-grid">
							<div class="about-icon mb-md-4 mb-3">
								<span class="fa fa-money" aria-hidden="true"></span>
							</div>
							<div class="ser-sevice-grid">
								<h4 class="pb-3">Sites Exploration</h4>
							  <p>Get a chance to visit Business hubs and opportunities <e class="g">mining grounds,fishing, farming etc.</e></p>
							</div>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center mb-5">
						<div class="ser-fashion-grid">
							<div class="about-icon mb-md-4 mb-3">
								<span class="fa fa-binoculars" aria-hidden="true"></span>
							</div>
							<div class="ser-sevice-grid">
								<h4 class="pb-3">Easy Booking</h4>
							  <p>Duis nisi sapien, elementum et finibus et fermen eget, aliquet etleo. Mauris vel ex.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center mb-5">
						<div class="ser-fashion-grid">
							<div class="about-icon mb-md-4 mb-3">
								<span class="fa fa-camera" aria-hidden="true"></span>
							</div>
							<div class="ser-sevice-grid">
								<h4 class="pb-3">Best Packages</h4>
							  <p>Duis nisi sapien, elementum et finibus et fermen eget, aliquet etleo. Mauris vel ex.</p>
							</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!-- text -->
<section class="text-content">
	<div class="overlay-inner py-5">
		<div class="container py-md-3">
			<div class="test-info">
				<h4 class="tittle">Enjoy Your Trip</h4>
				<p class="mt-3">Get the best experience from the Coastal Region. Family pakages, weekend packages and 
					explore the historical sites in Mombasa, malindi, kilifi, kwale etc.</p>
				<div class="text-left mt-4">
						<a href="{% url 'packages' %}">View More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //text -->
{% endblock %}